html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
#nowPlayingContainer{
	width: 100%;
	background-color:  #282828;
	bottom: 0;
	position: fixed;
	min-width: 620px;
}
#nowPlaying{
	display: flex;
    box-sizing: border-box;
    height: 90px;
    padding: 1.5%;
}
#songDetails, #volume{
	width: 30%;
	min-width:180px;
}
#controlPanel{
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#controlPanel .content{
	width: 100%
}
.controls .buttons{
	display: table;
	margin: 0 auto;
}
.controlButton{
	background: transparent;
	border: none;
	vertical-align: middle;
}
.controlButton img{
	width: 20px;
	height: 20px;
}
.controlButton.play img, .controlButton.pause img{
	
	width: 32px;
	height: 32px;	
}
.controlButton:hover {
	cursor: pointer;
}
.progressTime{
	color: #a0a0a0;
	font-size: 11px;
	min-width: 40px;
	text-align: center;
}
.progressBar{
	width: 100%;
	display: inline-flex;
	height: 12px;
}
.progressElementsContainer{
	display: flex;
}
.progressBackground{
	background: #404040;
	width: 100%;
}

.progressBackground, .progress{
	height: 4px;
	border-radius: 5px;
}
.progress{
		
	background: #a0a0a0;
	width: 0%;	
}
.progressElementsContainer .progressBar{
	margin-top: 1%; 
}