html,body{
	margin: 0;
	padding: 0;
	height: 100%;
	background: #181818;
	font-size: 	0.8750em;
	min-width: 20px;
}
#nowPlayingContainer{
	width: 100%;
	background-color:  #282828;
	bottom: 0;
	position: fixed;
	min-width: 620px;
}
#nowPlaying{
	display: flex;
    box-sizing: border-box;
    height: 90px;
    padding: 1.5%;
}
#songDetails, #volume{
	width: 30%;
	min-width:180px;
}
body, a{
	color: #e0e0e0;
	font-family: 'Alegreya', serif;
	text-decoration: none;
}
h2,h1,h3,h4{

	font-family: 'Spectral', serif !important;
}
#controlPanel{
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#nowPlaying .content{
 	height: 100%;
	width: 100%
}
.controls .buttons{
	display: table;
	margin: 0 auto;
}
.controlButton{
	background: transparent;
	border: none;
	vertical-align: middle;
}
.controlButton img{
	width: 20px;
	height: 20px;
	transition: .5s;
}
.controlButton.play img, .controlButton.pause img{
	
	width: 32px;
	height: 32px;	
	transition: .5s;
}
.controlButton.play, .controlButton.pause{
	height: 36px;
}
.controlButton:hover {
	cursor: pointer;
}

.controlButton.play img:hover, .controlButton.pause img:hover{
	
	width: 36px !important;
	height: 36px !important;
}
.controlButton img:hover{
	width: 24px;
	height: 24px;
}
.progressTime{
	font-size: 11px;
	min-width: 40px;
	text-align: center;
}
.progressBar{
	width: 100%;
	display: inline-flex;
	height: 4px;
	padding: 4px 0;
}
.progressElementsContainer{
	font-family: 'Spectral', serif !important;
	display: flex;
	align-items: center;
}
.progressBackground{
	background: #404040;
	width: 100%;
}

.progressBackground, .progress{
	height: 4px;
	border-radius: 5px;
}
.progress{
		
	background: #a0a0a0;
	width: 0%;	
}
.progressElementsContainer .progressBar{
	width: 100%;
	height: 4px;
}
#controlPanel:hover, #songDetails:hover{
	cursor: default;
}
.progressBar:hover{
	cursor: pointer;
}
.album img{
	height: 57px;
	width: 57px;
	background-size: cover;
	margin-right: 1%;
	float: left;	
}
.trackInfo{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%;
	justify-content: center;
}
.trackInfo .trackName span{
	color: #e0e0e0;
	margin: auto 0;
}
.trackInfo .trackArtist span{
	font-size: .8em;
	margin: auto 0;

}
.trackInfo .trackName{
	vertical-align: middle;
	height: 35%
}
.trackInfo .trackArtist{
	vertical-align: middle;
	height: 65%
}
#volume .volumeContainer{
	margin-left: auto;
	margin-right: 7%;
	width: 45%;
	display: flex;
	align-items: center;
	height: 100%
}
#topContainer{
	height: 100%;
	width: 100%;
	display: flex;
	position: fixed;
}
#topContainer #navigationContainer{
	background: #0f0f0f;
	height: 100vh;
	width: 19vw;
	min-width: 200px;
	margin: 0;
	padding: 0;
}
.navbar{
	margin: 0;
	padding:5% 8% 0% 8%;
	display:flex;
	flex-direction: column;
	-ms-flex-direction: column;
}
#logo img{
	width: 100%;
	margin-right: 2%;
}
.navGroup{
	padding: 6% 0;
	border-top: 1px solid #a0a0a0;
}
.navItem{
	padding: 3%;
	letter-spacing: 1px;
	font-size: 1.05em;
	transition:1s;
	height: 3vh
}
.navItem a{
	color: #e0e0e0;
	display: flex;
}
.icon{
	margin: 0% 5% 0% auto;
	width: 10.5%;
	transition: 1s;
}
.navItem:hover{
	letter-spacing: 2px;
	font-weight: bold;
}
.navItem:hover .icon{
	width: 12%;
}
.navItem:hover .navItemLink{

	color: #ffffff;
}
#mainContainer{
	height: 100%
}
#mainViewContainer{
	width: 83%;
	max-width: calc(100% - 220px);
	height: calc(100% - 90px);
}
#mainContent{
	width: 100%;
	height: 100%;
	padding: 0% 2%;
	box-sizing: border-box;
}
.pageHeading{
	margin: .7em 0 .3em 0;
	text-align: center;
}
.gridView{
	min-width: 100%;
	min-height: 13.5%;
}
.gridItem{
	display: inline-block;
	margin-right: 1%;
	margin-left: 1.5%;
	width:13.5%;
	max-width: 180px;
	min-width: 100px;
	margin-bottom: 1%;
	transition: 1s;
	margin-top: 1%;
}
.gridItem:hover{
	width:14%;
	max-width:185px;
	margin-right: 0.75%;
	margin-left: 1.25%;
	margin-top: .3%
}
.gridItem:hover .gridImg{
	opacity: .6;
}
.gridItem:hover .gridInfo{
	letter-spacing: 3px;
	font-weight: bold;
}
.gridImg{
	width: 100%;
	position: relative;
	opacity: 1;
	transition: 1s;
}
.gridImg:after {
	  content: "";
	  display: block;
	  padding-bottom: 100%;
}
.gridImg img{
	position: absolute;
  	width: 100%;
  	height: 100%;
    object-fit: cover;
}
.gridInfo{
	text-align: center;
	text-overflow: ellipsis;
	padding: 2% 0;
	overflow: hidden;
	white-space: nowrap;
	font-size: .89em;
	letter-spacing: 2px;
	transition: 1s;
}
.albumContainer{
	width: 100%;
	height: 100%;
}
.entityInfo{

	position: fixed;
	top:0;
	overflow: hidden;
	display: flex;
	width: 100%;
	max-height: 28vh;
	box-sizing: border-box;
	margin: 2vh 0 2vh 0;
}
.albumLeft{
	width: 12%;
	max-width: 230px;
	min-width: 100px;
	margin: 0 .2%;
	padding: 0  0 0 0; 
	background: #181818;
}
.albumLeft img{
	min-width: 100px;
	min-height: 100px;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.albumRight{
	margin-right: 10%;
	padding: 0 0 0 0; 
	background: #181818;
}
.albumRight h2{
	margin: 9% .5em 0 .5em;

}
.albumRight:hover{
	cursor: default;
}
.albumRight .point:hover{
	cursor: pointer !important;
}

.albumRight p{
	color: #939393;
	margin: .5em  .7em;
}
.songListContainer{
	margin-top:30vh;
	margin-bottom:1vh;
	width: 100%;
	max-height: calc(69vh - 90px);
}
.songList{
	font-family: 'Spectral', serif !important;
	list-style: none;
	margin-left: 0%;
	padding-left: 0;
	max-height: calc(65vh - 90px);
}
.songRow{
	display: flex;
	width: 97%;
	margin-left: 0;
	height: 10.25vh;
	padding: 2vh 1vw 2vh 1vw;
	box-sizing: border-box;
	cursor: default;
}
.songRow:hover .songNumberCon img{
	visibility: visible;
}
.songRow .songNumberCon span{
	visibility: visible;
}
.songRow:hover .songNumberCon span{
	visibility: hidden;
}
.songRow:hover{
	background: #282828;
}
.songInfo span{
	font-weight: bold;
	margin-left: 10px;
}
.songDuration span, .songRow p, .songNumberCon span{
	color: #939393
}
.songDuration{
}
.simplebar-scrollbar:before{
  
    background:  #404040 !important;
}
.songRow .songNumberCon{
	width: 3vw;
	float: left;
}
.songNumberCon img{
	width: 1.2vw;
	visibility: hidden;
	position: absolute;
	cursor: pointer;
}
.songInfo{
	width: 85%;
}
.songInfo p{
	margin-top: .3em !important;
	margin-bottom: .3em !important;
	margin-left: .7vw;
}
.songRow .songMore{
	height: 100%;
	margin-left: auto;
	display: inline-block;
    vertical-align: middle;
	width: .8vw;
	margin-right: 1vw;
	float: left;
	text-align: right;
}
.songRow .optionButton{
	width: 100%;
	visibility: hidden;
	cursor: pointer;

}
.songRow .songDuration{
	height: 100%;
	vertical-align: middle;
	float: left;
	margin-left: 1vw;
}
.songRow:hover .songMore .optionButton{
	visibility: visible;
}
.volumeContainer .progress{
	width: 100%;
}
a:hover{
	cursor: pointer;
}
.album img:hover, .trackName span:hover, .trackArtist span:hover{
	cursor: pointer;
}
.artistInfo{
	text-align: center;

}
.artInfo{
	width: 100%;
	margin-top: 0%;
	margin-bottom: 0%;
}
.ceterSec{
	margin: 0 auto;
}
.button{
	color:#fff;
	cursor: pointer;
	margin-bottom: 1%;
	font-weight: bold;
	background: transparent;
	letter-spacing: .2em;
	border-radius: 50px;
	border: 1px solid white;
	padding: .9%;
	width: 11%;
}
.artistInfo .headerButton .button{
	background: #00ffcc !important;
	border-color: #00ffcc !important;
	color: #0f0f0f !important;
	font-weight: 900 !important;
	margin-top: 0.1%;
	transition: .8s;
}
.artistInfo .headerButton .button:hover{
	background: #22ddaa !important;
	border-color: #22ddaa !important;
	letter-spacing: .3em;
	min-width: 11.5%;
	color: #3f3f3f !important;
}

.borderBottom{
	border-bottom: 1px #939393 solid;
}
.artistCon{
	padding-right: 2%;
	margin-top: 1%;
	padding-bottom: 20px;
}
.artistInfo h1{
	margin-bottom:.25% !important;
}
.artistCon .simplebar-scrollbar:before{
  
    background:  #848484 !important;
}
.grid h2, .songListContainer h2,.searchOutput h2{
	text-align: center;
	margin-top:.1%;
	margin-bottom: .1%;
}
.searchOutput .noResuslt{
	text-align: center;	
}
.button:focus {
  outline: none;
  box-shadow: none;
}
.songListContainer.art{
	max-height: calc(45vh - 90px);
	margin-top: 0% !important;
	padding-bottom: 0%;
}
.songListContainer.art .songList{
	max-height: calc(43vh - 90px);
}
.grid.borderBottom{
	height: 37%;
}

.grid.borderBottom .gridView{
	height: 85%;
}
.grid.borderBottom .gridView .gridItem{
	height: 85%;
}
.searchContainer{
	background-color: #242424;
	color: white;
	padding: 1%;
	border-radius: 255px;
}
.searchInput{
	width: 100%;
	font-size: 1.7em;
	font-weight: bold;
	background: #242424;
	border: none;
	color: white;
	letter-spacing: 1.5px;
}
.searchHeader{
	font-weight: 100;
	margin-left:1.5%;
	margin-top: 4px;
	margin-bottom: 3px;
}
input:focus{
	outline: none;
}
.searchOutput{
	height: calc(100% - 90px);
}
.searchOutputSong{
	max-height: 30% !important;
}
.searchOutput .songListContainer.art{
	margin-top: 0  !important;
	margin-bottom: 0  !important; 
	max-height: 30% !important;
}
.searchOutput .songListContainer.art .songList{
	margin-top: 0  !important;
	margin-bottom: 0  !important; 
}
.searchOutput .songListContainer.art .songList{
	max-height: 100% !important;
}

.searchOutputArtist{
	margin-top: 5%;
	max-height: 20%;
}

.artistRow .point:hover{
	cursor: pointer !important;
}
.artistList{
	margin-top: 0  !important;
	margin-bottom: 0  !important;
	list-style: none;
}
.artistRow{
    padding: .3% 3%;
	color: #e0e0e0;
}
.artistRow:hover{
	background-color: #282828
}
.searchOutput .artistContainer{
	margin-top: 0  !important;
	margin-bottom: 0  !important; 
	max-height: 13.9% !important;
}
.searchOutput .artistContainer .artistList{
	max-height: 100% !important;
}