html,body{
	margin: 0;
	padding: 0;
	height: 100%;
}
#nowPlayingContainer{
	width: 100%;
	background-color:  #282828;
	bottom: 0;
	position: fixed;
	min-width: 620px;
}
#nowPlaying{
	display: flex;
    box-sizing: border-box;
    height: 90px;
    padding: 1.5%;
}
#songDetails, #volume{
	width: 30%;
	min-width:180px;
}
body, a{
	color: #a0a0a0;
	font-family: 'Alegreya', serif;
	text-decoration: none;
}
#controlPanel{
	width: 40%;
	max-width: 700px;
	display: flex;
	flex-direction: column;
	align-items: center;
}
#nowPlaying .content{
 	height: 100%;
	width: 100%
}
.controls .buttons{
	display: table;
	margin: 0 auto;
}
.controlButton{
	background: transparent;
	border: none;
	vertical-align: middle;
}
.controlButton img{
	width: 20px;
	height: 20px;
}
.controlButton.play img, .controlButton.pause img{
	
	width: 32px;
	height: 32px;	
}
.controlButton.play, .controlButton.pause{
	height: 36px;
}
.controlButton:hover {
	cursor: pointer;
}

.controlButton.play img:hover, .controlButton.pause img:hover{
	
	width: 36px !important;
	height: 36px !important;
}
.controlButton img:hover{
	width: 24px;
	height: 24px;
}
.progressTime{
	font-size: 11px;
	min-width: 40px;
	text-align: center;
}
.progressBar{
	width: 100%;
	display: inline-flex;
	height: 4px;
	padding: 4px 0;
}
.progressElementsContainer{
	font-family: 'Spectral', serif !important;
	display: flex;
	align-items: center;
}
.progressBackground{
	background: #404040;
	width: 100%;
}

.progressBackground, .progress{
	height: 4px;
	border-radius: 5px;
}
.progress{
		
	background: #a0a0a0;
	width: 0%;	
}
.progressElementsContainer .progressBar{
	width: 100%;
	height: 4px;
}
#controlPanel:hover, #songDetails:hover{
	cursor: default;
}
.progressBar:hover{
	cursor: pointer;
}
.album img{
	height: 100%;
	max-width: 57px;
	background-size: cover;
	margin-right: 1%;
	float: left;	
}
.trackInfo{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	height: 100%
}
.trackInfo .trackName span{
	color: #e0e0e0;
	margin: .35% 0;
	flex: 5;
}
.trackInfo .trackArtist span{
	font-size: .75em;
	flex: 1;
}
#volume .volumeContainer{
	margin-left: auto;
	margin-right: 7%;
	width: 45%;
	display: flex;
	align-items: center;
	height: 100%
}
#topContainer{
	min-height: 100%;
	width: 100%
}
#topContainer #navigationContainer{
	background: #0f0f0f;
	height: 100vh;
	width: 17%;
	position: fixed;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.navbar{
	margin: 0;
	padding:5% 8% 0% 8%;
	display:flex;
	flex-direction: column;
	-ms-flex-direction: column;
}
#logo img{
	width: 100%;
	margin-right: 2%;
}
.navGroup{
	padding: 6% 0;
	border-top: 1px solid #a0a0a0;
}
.navItem{
	padding: 3%;
	letter-spacing: 1px;
	font-size: .85em
}
.navItem a{
	color: #e0e0e0;
	display: flex;
}
.icon{
	margin: 0 5% 0 auto;
	width: 10.5%;
}
.navItem:hover{
	letter-spacing: 2px;
	font-weight: bold;
}
.navItem:hover .icon{
	width: 12%;
}
.navItem:hover .navItemLink{

	color: #ffffff;
}
